/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/*Welcome */

.container {
    width: 80%;
    flex-wrap: wrap;
    border: 2px solid red;
    margin: 10px;
}


/*.info {
    height: 200px;
}*/

.row {
    display: flex;
    position: relative;
    border: 2px solid orange;
    margin: 5px;
    .wrapper {
        margin: 5px;
        display: inline-block;
        flex: 1;
        justify-content: space-around;
        height: 150px;
        position: relative;
        border: 2px solid green($color: #1e8d30);
        .col-6 {
            max-height: 100px;
            &:hover h3 {
                display: inline;
                cursor: pointer;
                color: $color-light;
            }
        }
        .body {
            position: absolute;
            font-size: 10px;
            font: $font-text;
            font-weight: $font-light;
            text-align: center;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            h3 {
                display: none;
            }
            a {
                text-decoration: none;
                color: $color-light;
            }
        }
        .image-welcome {
            flex: 1;
            object-fit: cover;
            max-height: 150px;
            display: flex;
            //width: 100%;
            //height: 100%;
            &:hover:h3 {
                cursor: pointer;
                display: inline;
                color: $color-light;
                transition: 1s;
            }
            img {
                flex: 1;
                object-fit: cover;
                width: 100%;
                border-radius: $radius;
            }
        }
    }
}

.body h3:hover {
    display: inline;
    cursor: pointer;
    color: $color-light;
    transition: 1s;
}

.box-hours {
    flex: 1;
    background: $color-main;
    color: $color-light;
    text-align: center;
    margin: 0;
    border-radius: $radius;
}


/*Carousel*/

.carousel-inner {
    display: flex;
    .image {
        img {
            flex: 1;
            object-fit: cover;
            height: 200px;
            width: 200px;
        }
    }
    .title {
        flex: 4;
        flex-direction: column;
    }
}


/*gallery */

.gallery {
    .row {
        display: flex;
        .col-4 {
            position: relative;
            &:hover .overlay {
                opacity: 1;
            }
        }
        .image {
            img {
                display: block;
                object-fit: cover;
                width: 100%;
                height: 200px;
                padding: 5px 5px;
            }
        }
        .overlay {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            opacity: 0;
            transition: .5s ease;
            background-color: $color-dark;
            height: 100%;
            width: 100%;
            .gallery-inner {
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                i {
                    padding: 3px;
                    color: $color-light;
                    font-size: 20px;
                    &:hover {
                        color: $color-danger;
                    }
                }
            }
        }
    }
}
